body{
  font-family: 'NexonLv1Gothic' !important;
  font-weight: 300 !important;
  word-spacing: -2px;
}

@font-face {
  font-family: 'NexonLv1Gothic';
  font-weight: 300;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'NexonLv1Gothic';
  font-weight: 400;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'NexonLv1Gothic';
  font-weight: 700;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.ttf') format("truetype");
  font-display: swap;
}


$phone: "screen and (max-width : 630px)";
$tablet: "screen and (min-width : 631px) and (max-width : 1099px)";
$desktop: "screen and (min-width : 1100px)";


@mixin mobile-title-font() {
  h1{
    font-size: 32px;
  }
  p{
    font-size: 16px;
  }
}
@mixin tablet-title-font() {
  h1{
    font-size: 41px;
  }
  p{
    font-size: 22px;
  }
}
@mixin desktop-title-font() {
  h1{
    font-size: 50px;
  }
  p{
    font-size: 22px;
  }
}
$main-color: #F6F8FD;
$point-color: #4857EC;


.wrapper{
  padding: 120px 0;
}

.header {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  background: $main-color;

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-wrapper {
  .swiper-container {
    position: relative;
    margin-top: 140px;
    width: 100%;
    

    .swiper-wrapper {
      position: relative;
      .common-ball{
        position: absolute;
        border-radius: 50%;
      }
      #ball01{
        width: 23px;
        height: 23px;
        top: 45%;
        left: 10%;
        background: $point-color;
      }
      #ball02{
        width: 18px;
        height: 18px;
        top: 10%;
        left: 37%;
        background: #F7E36D;
      }
      #ball03{
        width: 46px;
        height: 46px;
        top: 25%;
        left: 45%;
        background: #2FEFB1;
      }
      #ball04{
        width: 35px;
        height: 35px;
        top: 60%;
        left: 47%;
        background: $point-color;
      }
      #ball05{
        width: 30px;
        height: 30px;
        top: 70%;
        right: 10%;
        background: #2FEFB1;
      }
      #ball06{
        width: 30px;
        height: 30px;
        top: 78%;
        right: 23%;
        background: #FF3344;
      }
      .swiper-slide {
        position: relative;
        background: #fff;
        width: 100%;
        height: 100%;

        .slide-desc{
          width: 100%;
          text-transform: uppercase;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          z-index: 9;
          color: #000;
          h3{
            font-weight: 900;
          }
          p{
            line-height: 1.3;
          }

          .slide-btn{
            margin-top: 50px;
            a{
              color: #fff;
              padding: 10px 25px;
              background: $point-color;
            }
          }

          figure{
            position: absolute;
            right: -80px;
            top: -50px;
          }
        }
      }
    }
    .swiper-pagination-bullet {
      background-color: rgba(255, 255, 255, 0);
      opacity: 1;
      box-shadow: 0 0 0 3px $point-color;
      width: 8px;
      height: 8px;
      margin: 0 10px 0 10px !important;
    }
    .swiper-btn{
      z-index: 99;
      width: 110px;
      height: 10px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%, -50%);
      .swiper-button-play{
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 10px;
        &::after{
          content: '';
          position: absolute;
          background: url('img/btn-pause.png') no-repeat center/cover;
          width: 8px;
          height: 14px;
          left: 0;
          top: 0;
        }
      }
      .play-active{
        display: none;
      }
      .swiper-button-stop{
        cursor: pointer;
        display: none;
        position: absolute;
        top: 0;
        right: 10px;
        &::after{
          content: '';
          position: absolute;
          background: url('img/btn-play.png') no-repeat center/cover;
          width: 8px;
          height: 14px;
          left: 0;
          top: 0;
        }
      }
      .stop-active{
        display: block;
      }
    }
    .swiper-pagination-bullet-active{
      background-color: $point-color;
    }
    .swiper-button-next{
      position: absolute;
      background: url('img/btn-next.png') no-repeat center/cover;
      width: 32px;
      height: 48px;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);
    }
    .swiper-button-prev{
      position: absolute;
      background: url('img/btn-prev.png') no-repeat center/cover;
      width: 32px;
      height: 48px;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
    }
  }


  #section2 {
    background: $main-color;
    margin-top: 95px;
    display: flex;
    justify-content: center;
    align-items: start;
    .title{
      h5{
        color: #fff;
        display: inline-block;
        font-weight: 700;
        padding: 10px 15px;
        border-radius: 50px;
        background: $point-color;
      }
      h1{
        margin: 20px 0 40px 0;
        font-weight: 700;
        line-height: 1.3;
      }
      p{
        word-break: keep-all;
        font-weight: 500;
      }
    }
    .best-card {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 30px;
      
      .img{
        margin-bottom: 25px;
        
        .sub-desc {
          figure {
            margin-bottom: 20px;
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 80px;
            border-radius: 50%;
          }
          h2 {
            text-transform: uppercase;
            font-weight: 400;
            margin-bottom: 20px;
          }
  
          p {
            line-height: 1.4;
          }
          .icon-box01{
            background: #2FEFB1;
          }
          .icon-box02{
            background: #FF3344;
          }
          .icon-box03{
            background: #eb8667;
          }
          .icon-box04{
            background: #F7E36D;
          }
        }
      }
    }
  }


  #section3{
    .recommend-container{
      padding: 20px;
      text-align: center;
      h1{
        font-weight: 500;
      }
      p{
        padding: 15px 0;
        word-break: keep-all;
        line-height: 1.3;
        color: #666;
      }
      .recommend-img{
        display: flex;
        justify-content: space-between;
        article{
        overflow: hidden;
          position: relative;
          width: 32.5%;
          figure{
            width: 100%;
              height: 100%;
            img{
              object-fit: cover;
              object-position: center;
              display: block;
              width: 100%;
              height: 100%;
              transition: all 0.6s ease-in-out;
              &:hover{
                transform: scale(1.05);
              }
            }
            
          }
          .recommend_desc{
            color: #fff;
            position: absolute;
            z-index: 9;
            left: 0;
            bottom: -150px;
            transition: all 0.6s ease-in-out;
            width: 100%;
            padding: 20px 0;
            backdrop-filter: blur(10px);
            font-weight: 500;
            a{
              color: #fff;
              &:hover{
                cursor: pointer;
                text-decoration: underline;
              }
            }
          }
          &:hover .recommend_desc{
            bottom: 0;
        }
        }
      }
    }
  }


  #section4{
    #market-title{
      width: 100%;
      text-align: center;
      h1{
        font-weight: 500;
        padding-bottom: 20px;
      }
      p{
      width: 100%;
        color: #666;
      }
    }
    .market-container{
      position: relative;
      padding: 20px;
      margin: 0 auto;
      max-width: 1100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .market-content{
        margin-bottom: 40px;
        img{
          border-radius: 15px;
          width: 100%;
          height: 200px;
          object-fit: cover;
          font-size: 0;
        }
        .market-desc{
          margin-top: 20px;
          position: relative;
          h1{
            font-weight: 400;
            padding-bottom: 20px;
          }
          p{
            color: #666;
            line-height: 1.3;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            margin-bottom: 20px;
          }
          a{
            border-radius: 8px;
            padding: 6px;
            font-size: 14px;
            color: #fff;
            background-color: $point-color;
            position: absolute;
            top: -5px;
            right: 10px;
            font-weight: 400;
          }
        }
      }
    }
  }


  #section5{
    .inner-section5{
      width: 100%;
      position: relative;

      .banner05-title{
          h1{
            font-weight: 400;
            margin-bottom: 50px;
          }
          p{
            line-height: 1.5;
            margin-bottom: 80px;
          }
          a{
            padding: 10px 50px;
            color: #fff;
            font-weight: 400;
            background: #4857EC;
          }
  
          figure{
            position: absolute;
            img{
              &:nth-child(1){
                position: absolute;
                top: 0;
              }
              &:nth-child(2){
                position: absolute;
                top: 0;
              }
            }
          }
      }
      .balls{
        .common-ball{
          position: absolute;
          border-radius: 50%;
        }
        #ball01{
          width: 49px;
          height: 49px;
          top: 55%;
          left: -10%;
          background: $point-color;
        }
        #ball02{
          width: 18px;
          height: 18px;
          top: -25%;
          left: 5%;
          background: #F7E36D;
        }
        #ball03{
          left: 48%;
      top: 70%;
      width: 38px;
      height: 38px;
          background: #2FEFB1;
        }
        #ball04{
          left: 55%;
          top: 0;
          width: 19px;
          height: 19px;
          background: $point-color;
        }
        #ball05{
          left: 63%;
      top: 90%;
      width: 35px;
      height: 35px;
          background: #FF3344;
        }
        #ball06{
          right: -10%;
      top: 65%;
      width: 30px;
      height: 30px;
          background: $point-color;
        }
      }
    }
  }


  #section6{
    background: $main-color;
    margin: 0 auto;
    margin-top: 120px;
    .card-title{
      text-align: center;
      h1{
        font-weight: 400;
      }
      p{
        margin-top: 30px;
        color: #666;
      }
    }

    .card-container{
      max-width: 1100px;
      margin: 0 auto;
      
      .card-content {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        .card {
          box-sizing: border-box;
          padding: 30px;
          background: #fff;
          position: relative;
          
          p {
            line-height: 1.5;
            font-size: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
          }
          
          .middle{
            margin: 20px auto 28px auto;
            padding: 20px 0;
            display: flex;
            align-items: center;
            border-top: 1px solid #f5f5f5d7;
            border-bottom: 1px solid #f5f5f5d7;
            figure{
              background: #e3e4f2;
              padding: 15px;
              border-radius: 50%;
            }
            p{
              margin-left: 20px;
              font-size: 20px;
              font-weight: 400;
            }
          }
          .bottom{
            width: 100%;
            text-align: center;
            a{
              padding: 8px 30px;
              border-radius: 15%/50%;
              background: $point-color;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.footer-wrapper{
  .footer-top{
    border-bottom: 1px solid #000;
    padding-bottom: 50px;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 50px;
    h3{
      font-weight: 400;
      text-transform: uppercase;
      font-size: 20px;
      margin-bottom: 15px;
    }
    a{
      line-height: 1.6;
      color: #666;
    }

    .sns-left{
      line-height: 1.5;
      .sns-icon{
        margin-top: 15px;
        i{
          margin-right: 7px;
          line-height: 45px;
          font-size: 19px;
          text-align: center;
          width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #F5F5F5;
        }
      }
    }
  }
  .footer-bottom{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    color: #000;
  }
}



@media #{$phone}{
  .wrapper{
    padding: 120px 10px;
    .card-title{
      @include mobile-title-font();
    }
  }

  .swiper-container{
    height: 450px;
    .slide-btn{
      margin-top: 30px;
    }
  }

  .slide-desc{
    text-align: center;
    h3{
      margin: 0 20px;
      margin-bottom: 20px;
    }
  }
  
  

  #section2{
    flex-direction: column;

    .title {
     width: 100%;
     text-align: center;
     margin-bottom: 50px;
     
     h1 {
       font-size: 40px;
      }
      p{
        width: 80%;
        line-height: 1.5;
        margin: 0 auto;
       }
     }
     .best-card{
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      .sub-desc{
        width: 90%;
        margin: 0 auto;
        figure{
          margin: 0 auto;
        }
        h2{
          font-size: 25px;
        }
      }
    }
  }


  #section3{
    .recommend-container{
        @include mobile-title-font();
        .recommend-img{
          margin-top: 20px;

          .recommend_desc{
            h2{
              font-size: 22px;
            }
            a{
              margin-top: 15px;
              font-size: 14px;
            }
          }
        }
      }
  }

  #market-title{
    @include mobile-title-font();
    margin-bottom: 30px;
    
  }
  .market-container{
    flex-wrap: wrap;
    .market-content{
      width: 100%;
    }
    .market-desc{
      h1{
        font-size: 21px;
      }
      p{
        font-size: 17px;
      }
    }
  }


    #section5{
    overflow: hidden;

      figure{
        width: 250px;
        height: 250px;
        right: 0;
        bottom: 0;
        z-index: -9;
        img{
          width: 100%;
        }
      }
      .banner05-title{
        h1{
          font-size: 32px;
        }
        p{
          font-size: 16px;
        }
      }
    }

    #section6{
    .card-content{
      flex-direction: column;
      .card {
        box-sizing: border-box;

        width: 100%;
        background: rgb(244, 244, 244);
        border-radius: 10px;
    }
  }

    .card-title{
      @include mobile-title-font();
    }
  }

  .footer-wrapper{
    padding: 60px 0;
  .footer-top{
    display: none;
  }
}
}

@media #{$tablet} {
  
  .wrapper{
    padding: 120px 10px;
  }


  .swiper-container{
    height: 500px;
    .slide-btn{
      margin-top: 30px;
    }
  }

  .slide-desc{
    text-align: center;
    h3{
      width: 90%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    p{
      font-size: 20px;
    }
  }

  #section2{
    flex-direction: column;
    .title {
      width: 100%;
      text-align: center;
      margin-bottom: 50px;

      h1 {
        font-size: 40px;
      }
      p{
        margin: 0 auto;
        line-height: 1.8;
        width: 80%;
      }
    }
    .best-card{
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: 100%;
    }
    .sub-desc{
      width: 70%;
      margin: 0 auto;
      
      figure{
        margin: 0 auto;
      }
      h2{
        font-size: 25px;
      }
    }
  }

  .recommend-container{
    @include tablet-title-font();
    .recommend-img{
      margin-top: 30px;
      .recommend_desc{
        h2{
          font-size: 25px;
          margin-bottom: 10px;
        }
      }
    }
  }

  

  #market-title{
    @include tablet-title-font();
    margin-bottom: 30px;

  }
    .market-content{
      width: 48%;
    }
  .market-desc{
    h1{
      font-size: 23px;
    }
    p{
      font-size: 17px;
    }
  }



  #section5{
    overflow: hidden;
    .inner-section5{
      position: relative;
      max-width: 900px;
      margin: 0 auto;
    }
    .banner05-title{
      @include tablet-title-font();
    }
    
    figure{
      width: 300px;
      height: 300px;
      right: 0;
      bottom: 0;
      z-index: -9;
      img{
        width: 100%;
      }
    }
    #ball06{
      display: none;
    }
  }

  #section6{
    padding: 120px 10px;
    .card-content{
      flex-direction: column;
      gap: 20px;
    .card {
      box-sizing: border-box;
      width: 100%;
      background: rgb(244, 244, 244);
      border-radius: 10px;
  }
}

  .card-title{
    @include tablet-title-font();
  }
}


  .footer-wrapper{
    padding: 60px 0;
  .footer-top{
    display: none;
  }
}
}

@media #{$desktop}{
  .hamburger{
    display: none;
  }

  .menu{
    ul{
      li{
        cursor: pointer;
        padding: 10px;
      }
    }
  }

  .header{
    height: 140px;
  .header-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo{
      margin: 25px 0;
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 900;
    }
    .menu{
      width: 1024px;
      ul {
        display: flex;
        justify-content: space-between;

        li {
          display: block;
          text-transform: uppercase;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .hamburger{
      position: relative;
      width: 29px;
      height: 2px;
    }

  }
}


  .swiper-container{
    height: 600px;
    .slide-btn{
      margin-top: 40px;
    }
  }

  
  .slide-desc{
    max-width: 1100px;
    text-align: left;
    h3{
      font-size: 120px;
    }
    p{
      font-weight: 500;
      margin-top: 30px;
      font-size: 25px;
    }
  }
  

  #section2{
    .title{
      width: 400px;
    
    h1 {
      font-size: 50px;
    }
    p{
      width: 80%;
      font-size: 19px;
      line-height: 1.5;
    }
  }

  .best-card {
        max-width: 850px;
        .img{
        width: 48%;
        .sub-desc{

    h2{
      font-size: 32px;
    }
    p{
      font-size: 19px;
    }
  }
        }
}
  }

  .recommend-container{
    @include desktop-title-font();
    
    .recommend-img{
      padding-top: 70px;
      margin: 0 auto;
      max-width: 1100px;
      
      article{
        height: 430px;
        .recommend_desc{
          position: absolute;
          z-index: 9;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 30px 0;
          color: #fff;
          h2{
            font-size: 30px;
            margin-bottom: 10px;
          }
          a{
            padding-top: 10px;
            font-size: 17px;
          }
        }
      }
    }
  }

  #market-title{
    margin-bottom: 70px;
    @include desktop-title-font();
  }
  .market-content{
    width: 24%;
  }
  .market-desc{
    h1{
      font-size: 20px;
    }
    p{
      font-size: 18px;

    }
  }


  #section5{
    overflow: hidden;
    figure{
      width: 450px;
      height: 450px;
      right: 0;
      top: 0;
    }
    .inner-section5{
      max-width: 1100px;
      margin: 0 auto;
      .banner05-title{
        @include desktop-title-font();
      }
    }
  }

  .card-content{
    gap: 20px;

    .card {
      width: 32%;
      border-radius: 10px;
  }
}
  .card-title{
    margin-bottom: 70px;
    @include desktop-title-font();
  }

  .footer-wrapper{
    padding: 120px 0;
  .footer-top{
    display: flex;
  }
}
}


@media (max-width: 1099px){
  .header{
  height: 80px;

  .header-inner{
    padding: 0 20px;
    height: 80px;

    .logo{
      font-weight: 400;
      text-transform: uppercase;
      font-size: 25px;
    }
    .menu{
      z-index: 9;
      position: fixed;
      height: 100vh;
      width: 60%;
      right: -100%;
      top: 80px;
      background: #fff;
      transition: all .3s ease;
      ul{
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        li{
          display: block;
          width: auto;
          margin: 20px;
          text-align: right;
          text-transform: uppercase;
          margin-bottom: 10px;
          color: #000;
          a{
            border-radius: 10px;
            padding: 10px;
            &:hover{
              background: $point-color;
              color: #fff;
            }
          }
        }
      }
    }

    .menu-show{
      right: -1px;

    }
    .hamburger{
      position: relative;
      cursor: pointer;
      margin-left: 10px;
      width: 30px;
      height: 18px;
        span{
          position: absolute;
          width: 25px;
          height: 2px;
          top: 0px;
          left: 0;
          background: #000;
          transition: all .3s ease;
          &:nth-child(2){
          top: 7px;
          }
          &:nth-child(3){
            top: 14px;
          }
        }
      .h1{
        margin-top: 10px;
        transform: rotate(135deg);
      }
      .h2{
        opacity: 0;
        visibility: hidden;
      }
      .h3{
        margin-top: -4px;
        transform: rotate(-135deg);
      }
    }
  }
}


.slide-desc{
  max-width: 1000px;
  h3{
    font-size: 60px;
  }
  figure{
    display: none;
    img{
      width: 400px;
      height: 400px;
    }
  }
}
}

@media (max-width: 1250px) and (min-width: 1100px){
  .slide-desc{
    max-width: 1000px;
    margin-left: 30px;
    h3{
      font-size: 70px;
    }
    figure{
      right: 0 !important;
      img{
        width: 400px;
        height: 400px;
      }
    }
  }
  
}

@media (max-width: 1550px) and (min-width: 1251px){
  .slide-desc{
    max-width: 1000px;
    h3{
      font-size: 90px;
    }
    figure{
      img{
        width: 450px;
        height: 450px;
      }
    }
  }
  .swiper-wrapper{
    #ball01{
      display: none;
    }
  }
}

@media (max-width: 1900px) and (min-width: 1551px){
  .slide-desc{
    max-width: 1160px;
    h3{
      font-size: 110px;
    }
    figure{
      img{
        width: 450px;
        height: 450px;
      }
    }
  }
  
}